.NavDrawer-Cont {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 70%;
	background-color: #fff;
	transition-duration: 0.2s;
	transition-property: transform;
	border-radius: 0px 3px 3px 0px;
}

.Backdrop {
	position: absolute;
	top: 0;
	background-color: black;
	opacity: 0.5;
	height: 100vh;
	width: 100vw;
	transition-duration: 0.2s;
	transition-property: transform;
	transition-delay: 0.1s;
}

.Show {
	transform: translateX(0%);
}

.NoShow {
	transform: translateX(-100%);
}
